@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-semibold text-gray-700;
  background-image: url("../../public//images//background/luke-chesser-PHtp0cDBJSM-unsplash.jpg");
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
