@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-semibold text-gray-700;
  background-color: #eeeeee;
  overflow-x: hidden;
  /* background-image: url("../../public//images//background/luke-chesser-PHtp0cDBJSM-unsplash.jpg"); */
  /* background-color: lightgrey; */
  /* background-color: #ece7e4; */
  /* background-color: #cdd1d8; */
  /* background-color: white; */
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
